html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	top:0;
	overflow: hidden;
}

.container {
	position: relative;;
	height: 100%;
	width: 100%;
	top:0;
	left: 0;
}

.menu {
	position: absolute;
	top:0;
	height: 45px;
	width: 45px;
	padding:0;
	margin: 0;
	z-index: 5;
	cursor: pointer;
	transition: all .3s ease;
	
}

#hamburger {
	padding: 3px;
	width: 40px;
	height: 40px;
	z-index: 5;

}

.search-box {
	position: absolute;
	top:10px;
	left:10px;
	right: 10px;
	width: 250px;
	height: 30px;
	z-index: 1;
}

.listview {

	position: absolute;
	top:0px;
	width: 280px;
	height: 100%;
	z-index: 1;
	background: #f4f4f4;
	transform: translate(-200%,0);
	transition: all .3s ease;
	cursor: pointer;
	overflow: auto;
	box-shadow: 5px 0px 10px #888888;
}

ul {
	position: absolute;
	margin: 0;
	padding: 5px;
	top:50px;
	width: 300px;
}

li {
	margin: 0;
	padding: 10px;
	color: #566270;
	list-style: none;
	border-bottom: solid 1px #e0e3da;
	font-family: 'Lato', sans-serif;
}

li:hover {
	background: #f0f0f0;
}

#map {
	top: 0;
	height: 100%;
	transform: translate(0,0);
	transition: all .3s ease;
}

.infowindow {
	width: 200px;
	height: 220px;
	margin: 0;
	padding: 0;
}

.infowindow h3 {
	border-bottom: solid 1px;
}